<div class="container todos">

  <li class="list-group-item">
    <div>
      <form (submit)="addTodo($event)">
        <input [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" class="textfield" name="newTodo" placeholder="Todo item goes here...">
        <button type="submit" [disabled]="newTodo===''">Add Todo</button>
      </form>
    </div>
  </li>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let todo of todos; let i=index">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input"  id="{{'customCheck'+i}}" [(ngModel)]="todo.completed" (change)="getInCompletedTodo()"/>
        <label class="custom-control-label"  for="{{'customCheck'+i}}" [ngClass]="{'checked': todo.completed}">{{ todo.newTodo }}</label>
        <span (click)="deleteTodo(i)" class="delete-icon">[X]</span>
      </div>
    </li>
  </ul>
  <li class="list-group-item">
    <span>{{itemLeft}}</span> item left. &nbsp;&nbsp;&nbsp;<button (click)="deleteSelectedTodos()">Delete Selected</button>
  </li>
</div>