<div class="container">
  <div class="btn-group" role="group" aria-label="Basic example">
    <input type="text" [(ngModel)]="item" />
    <button type="button" class="btn btn-primary" (click)="add()">Add</button>

  </div>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of items">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1"  [(ngModel)]="isChecked" >
        <label [ngClass]="{'strike-through':isChecked}" class="form-check-label" for="exampleCheck1">{{item}}</label>
      </div>
    </li>
  </ul>
</div>